<h2>{{'LOGIN' | translate}}</h2>
<div>
    <md-input-container>
        <textarea mdInput placeholder="{{'EMAIL' | translate}}" style="min-width:300px"></textarea>
    </md-input-container>
</div>
<div>
    <md-input-container>
        <textarea mdInput placeholder="{{'PASSWORD' | translate}}" style="min-width:300px"></textarea>
    </md-input-container>
</div>
<div>
    <button md-raised-button color="accent" style="float:right; margin-left: 5px; margin-right: 5px">{{'LOGIN' | translate}}</button>
    <button md-raised-button color="warn"(click)="dialogRef.close()" style="float:right">{{'CANCEL' | translate}}</button>
</div>
<hr style="margin-top: 50px">
<button md-raised-button color="primary" style="margin-top:20px; float: right">{{ 'SHIBBOLETH' | translate}}</button> 