<!--Header-->
<div class="banner">
    <img src="assets/FHNW_10mm.jpg"/>
</div>
<!--Language Buttons-->
<div style="position: absolute; right: 5px; top: 20px">
    <button md-raised-button *ngFor="let lang of supportedLanguages"
            (click)="selectLang(lang.value)"
            [disabled]="isCurrentLang(lang.value)">
        {{ lang.display }}
    </button>
</div>
<!--Login Button-->
<div style="position: absolute; right: 5px; top: 80px">
    <sd-login></sd-login>
</div>
<!--Main Container-->
<div class="container-fluid" style="margin-bottom: 100px">
    <seminars></seminars>
</div>
<!--Footer-->
<footer>
    &copy; 2017 {{'FHNW' | translate }}
</footer>
