<div class="banner">
    <img src="assets/FHNW_10mm.jpg"/>
</div>
<div style="position: absolute; right: 5px; top: 50px">
    <sd-login></sd-login>
</div>
<div class="container-fluid">
    <seminars></seminars>
</div>
<div>
    <button md-raised-button *ngFor="let lang of supportedLanguages"
            (click)="selectLang(lang.value)"
             [disabled]="isCurrentLang(lang.value)">
        {{ lang.display }}
    </button>
</div>
<div>
    <!--translate with pipe-->
    <p>
        Translate With Pipe: <strong>{{ 'Einloggen' | translate }}</strong>
    </p>
    <p>
        Translate With Pipe: <strong>{{ 'Bla' | translate }}</strong>
    </p>
</div>
    <footer>
        &copy; 2017 {{'Fachhochschule Nordwestschweiz' | translate }}
    </footer>
