<md-card>
	<md-card-title>{{seminar.title}}</md-card-title>
	<md-card-subtitle>{{seminar.date}},&nbsp;<b>{{'Zimmer' | translate}}</b>&nbsp;{{seminar.room}}</md-card-subtitle>
	<md-card-content>
		<div *ngIf="details">{{seminar.abstractSummary}}</div>
	</md-card-content>
	<md-card-actions>
		<button md-raised-button *ngIf="details != true" (click)="showDetails()">{{'Details anzeigen' | translate}}</button>
		<button md-raised-button *ngIf="details" (click)="hideDetails()">{{'Details verbergen' | translate}}</button>
		<button md-raised-button class="deleteBtn" (click)="delete()" color="warn">{{'Löschen' | translate}}</button>
		<button md-raised-button class="modifyBtn" (click)="modify()" color="primary">{{'Bearbeiten' | translate}}</button>
	</md-card-actions>
</md-card>